.App {
    text-align: center;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  body {font-family: "Times New Roman", Georgia, Serif;}
  h1, h2, h3, h4, h5, h6 {
    font-family: "Playfair Display";
    letter-spacing: 5px;}

    w3-top.style{
      letter-spacing:4px;
    }

w3-display-container w3-content w3-wide.style{
    max-width:4000px;min-width:500px;
    }

    w3-content.style{
      max-width:1100px;
    }

    w3-image.style{
      width:2000px; width:2500px;
    }

    w3-image.style{
      max-width:4000px;min-width:500px;
      }

    body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}

    body, html {
      height: 100%;
      line-height: 1.8;
    }
    
    /* Full height image header */
    .bgimg-1 {
      background-position: center;
      background-size: cover;
      background-image: url("/w3images/mac.jpg");
      min-height: 100%;
    }
    
    .w3-bar .w3-button {
      padding: 16px;
    }

    w3-bar w3-white w3-padding w3-card.style{
      letter-spacing:4px;
    }